#root {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.logo {
    width: 500px;
    height: 320px;
    top: 85px;
    left: -49px;
    gap: 0px;
    opacity: 0px;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.logoName {
    width: 330px;
    height: 113.45px;
    top: 451px;
    left: 29px;
    gap: 0px;
    opacity: 0px;
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
