@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
html,
body,
#root #defaultLayout,
#guestLayout {
    min-height: 100vh;
}
:root {
    /* fonts */
    --font-inter: Inter;
    --font-krona-one: "Krona One";
    --font-kodchasan: Kodchasan;

    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;

    /* Colors */
    --color-white: #fff;

    /* Paddings */
    --padding-xl: 20px;
    --padding-77xl: 96px;
    --padding-43xl: 62px;

    /* Effects */
    --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: var(--font-kodchasan);
}
.headerText {
    font-family: var(--font-kodchasan);
    font-size: 1.25rem;
}

body {
    font-family: var(--font-kodchasan);
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #fff;
    background: linear-gradient(
        to top,
        /* Adjusted to 90deg for vertical gradient */ #1d2e28 0%,
        #0a5c36 50%,
        /* Centered horizontally */ #1d2e28 100%
    );
}

input,
select {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 7px;
    box-sizing: border-box;
    font-family: var(--font-kodchasan);
    font-size: 14px;
    transition: all 0.3s;
    max-width: 360px;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: var(--font-kodchasan);
    outline: 0;
    background: #f3f3f3;
    border: 0;
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: 13px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.btn-add,
.btn-edit,
.btn-delete {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    font-family: var(--font-kodchasan);
    text-decoration: none;
    padding: 0.25rem 1em;
    background-color: #fff;
    color: #030303;
    transition: all 0.3s;
    border-radius: 15px;
}
.btn-logout:hover {
    opacity: 0.8;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #595f5c;
}

.text-center {
    text-align: center;
}
.lowerSide {
    /* Add some padding */
    font-family: var(--font-inter);
    font-size: 13px;
    text-decoration: none;
    text-align: left;
}
.lowerSide a {
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    width: 200px;
    font-weight: none;
}
.lowerSide a:hover {
    background-color: rgba(185, 180, 180, 0.2);
    border-radius: 20px;
}

.lowerSide-employee {

    /* Add some padding */
    font-family: var(--font-inter);
    font-size: 13px;
    text-decoration: none;
    position: fixed;
    text-align: center;
}
.lowerSide-employee a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    width: 200px;
    font-weight: none;
}
.lowerSide-employee a:hover {
    background-color: rgba(185, 180, 180, 0.2);
    border-radius: 20px;
}

.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

/* Ensure the parent container takes full height */
.parent-container {
    display: flex;
    justify-content: center;
    align-items:center;
}

.alert {
    padding: 20px;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    animation: popup 2s;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}


/* Login/Signup form */
#defaultLayout {
    display: flex;
    transition: all 0.3s ease-in-out;
}

#defaultLayout .sidebar {
    position: fixed;  /* Makes the sidebar stick as you scroll */
    top: 0;            /* The sidebar will stick to the top of the viewport */
    height: 100vh;     /* Ensures the sidebar takes up the full height of the screen */
    width: 250px;      /* Sets the sidebar width */
    z-index: 9999;
    overflow-y: auto;
    font-family: var(--font-kodchasan);
    background: #1d2e28;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

#defaultLayout .sidebar.visible {
    transform: translateX(0);
}

#defaultLayout .sidebar.hidden {
    transform: translateX(-100%);
    width: 0;
    padding: 0;
    overflow: hidden;
}

#defaultLayout .title {
    padding-bottom: 2.5rem;
}

#defaultLayout .sidebar > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout .sidebar > a:hover {
    background-color: rgba(185, 180, 180, 0.2);
    border-radius: 20px;
}

#defaultLayout .content {
    flex: 1;
    transition: all 0.3s ease-in-out;
}

#defaultLayout .content.sidebar-hidden {
    margin-left: 0;
    padding: 20px;
}

#defaultLayout header {
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 20px 40px;
    background: #1d2e28;
    border-bottom: 2px solid #cccccc;
    z-index: 5;
}

#defaultLayout main {
    padding: 14px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin: auto;
    text-align: center;
}
#defaultLayout main.lock {
    pointer-events: none;
    overflow: hidden;
    filter: blur(
        2px
    ); /* Optional: Add a blur effect to indicate locked state */
    opacity: 0.5; /* Optional: Reduce opacity to indicate locked state */
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popup {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
